body {
  min-height: 100vh;
  background-image: url("/blueswirly.png");
  background-size: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#ournavbar {
    background: linear-gradient(to right, #009090, black, #004848);
}

#ournavlogo {
    border-radius: 17px;
}

#content {
border-radius:  20px;
}
#contentchat{
border-radius:  20px;
height: 1160px;
}
.slogan{
font-family: emoji;
font-size: 30px;
line-height: 12pt;
left: 10px;
}
#contentCommentForm{
border-radius:  15px;
}
#contentPostForm{
border-radius:  15px;
}